*{
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;


}
body{
  text-align: center;
  font-family: 'Spectral', serif;
  background: url(https://i.ibb.co/2hRRdTQ/image-2.jpg) no-repeat center/cover;
  height: 100vh;
  display: grid;
  place-content: center;
}
h1{
  font-weight: 400;
  font-size: 64px;
  line-height: 120px;
  font-family: 'Beth Ellen', cursive;
  color:#EBF1FB ;
 
}
h1 span{
  color: #5EEAD4;
}
p{
  font-size: 20px;
  line-height: 30.44px;
  color: #EBF1FB;

  margin-bottom: 72px;
}
a{
  font-size: 24px;
  line-height: 24px;
  align-items: flex-start;
  padding: 16px 32px;
  width: 193px;
  height: 56px;
  color: #EBF1FB;
}
a:hover,
.recipes{
  font-size: 24px;
  line-height: 24px;
  background: #5EEAD4;
  border-radius: 8px;
  text-decoration: none;
  color: #0B0C0E;

}
